<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <a href="/create" class="create-button">Create Post</a>
    <div class="container">
        <h1>All Posts</h1>
        <div class="posts">
            <% posts.forEach(post => { %>
                <div class="post-container">
                    <a href="/edit/<%= post._id %>" class="edit-btn">✎</a>
                    <h2><%= post.title %></h2>
                    <p class="author">By <%= post.author %></p>
                    <p class="time">Published on: <%= post.createdAt.toLocaleString() %></p>
                    <p class="description"><%= post.description %></p>
                    <form action="/delete/<%= post._id %>" method="POST" class="delete-form">
                        <button type="submit" class="delete-btn">×</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
